body {
    margin: 0;
    font-family: 'Neometric Alt Extra Bold', sans-serif;
    overflow: hidden; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/finance_background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.7); /* İsteğinize göre parlaklığı ayarlayın */
    z-index: -1;
    transition: filter 0.5s ease; /* Parlaklık geçiş efekti */
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    z-index: 1; /* Overlay'ın üzerine yerleştirin */
    background-color: rgba(0, 0, 0, 0.7); /* Başlangıçta saydam arka plan */
    transition: background-color 0.5s ease; /* Arka plan geçiş efekti */
}

/* Transparent Navbar styling */
.navbar {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler-icon {
    background-color: white;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}

/* Change navbar background color on scroll */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Beyaz Alan */
.white-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 50px 20px; /* İstenilen boşlukları ayarlayabilirsiniz */
    text-align: center;
    color: #000; /* Beyaz alanın metin rengini ayarlayın */
    transform: translateY(100%); /* Başlangıçta aşağıda gizli */
    transition: transform 0.5s ease; /* Transform geçiş efekti */
}